
.left-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30dvw;
    min-width: 400px;
    height: 90lvh;
    padding: .5em;
    padding-top: 1em;
    margin-top: 1em;
    justify-content: space-between;
    border:1px solid $highlight-color;


    .social-list{
        display: flex;
        padding-inline-start: 0;
        justify-content: space-between;

        li{
            margin: 0 .5rem;
        }
    }

    .left-panel-buttons{
        display: flex;
        width: min-content;

        #resume, a{
            outline: 1px solid orange;
            height: min-content;
        }

        #resume{
            display: inline-block;
            width: auto;
        }
    }
}